.vagrant
Berksfile.lock
berks-cookbooks/
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
/cookbooks
coverage

# Bundler
bin/*
.bundle/*
Gemfile.lock

.kitchen/
.kitchen.local.yml
.env.sh
Vagrantfile

# sublime text
*.sublime-project
*.sublime-workspace

test/cookbooks/clamav_test/files/*.cvd
